html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*, *::after, *::before {
  box-sizing: inherit;
}

body {
  font-family: 'Inter', sans-serif;
  font-size: 1.6rem;
  background-color: #100e1d;
}

h1 {
  font-weight: 900;
  margin-top: 12rem;
  margin-bottom: 5rem;
  font-size: 4rem;
  text-transform: uppercase;
  text-align: center;
  color: #FFFFFF;
}

.principal {
  display: grid;
}

@media (min-width: 768px){
  .principal {
    grid-template-columns: 30% 70%;
  }
}

.izquierdo {
  padding: 5rem;
  height: 100vh;
  background-color: #1e213a;
}

label {
  display: block;
  color: #FFFFFF;
  font-size: 3rem;
}

input[type='text'] {
  width: 100%;
  background-color: #FFFFFF;
  padding: 1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  color: #100e1d;
  font-size: 2rem;
  font-weight: 700;
  border-radius: .5rem;
}

select {
  width: 100%;
  margin-top: 2rem;
  padding: 1rem;
  border-radius: .5rem;
  color: #100e1d;
  font-weight: 700;
  font-size: 2rem;
}

input[type='submit'] {
  width: 100%;
  background-color: #100e1d;
  padding: 1rem;
  color: #FFFFFF;
  font-size: 3rem;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  margin-top: 4rem;
  border-radius: .5rem;
  cursor: pointer;
}

.alerta {
  color: #100e1d;
  font-size: 3rem;
  text-align: center;
  font-weight: 900;
  text-transform: uppercase;
}

.contenedor__resultado {
  width: 80%;
  margin: 20rem auto;
  background-color: #1e213a;
  height: 50%;
}

.heading {
  margin-top: 5rem;
}